html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 1.6rem;
    /*width: 126.333rem;*/
}
div, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-weight: 400;
}
nav{
    background-color: #006491;
    width: 126.333rem;
    display: flex;
}
.navbar{
    padding-left: .9375rem;
    padding-right: .9375rem;
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 77px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    color: white;
    box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.75);
    z-index: 4;
}
nav a{
    color: white;
    text-decoration: none;
}
.logo{
    width: 4.5rem;
    height: 4.5rem;
}
.navlinks{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
}
.navlinks li{
    margin-right: 1rem;
    display: flex;
    /*text-transform: uppercase;*/
}
img{
    max-width: 100%;
}
.alignItemsCenter{
    align-items: center;
}
.sesionCompra{
    font-size: 1.9rem;
    background-color: #005177;
    display: flex;
    font-family: arial;
}
/*inicio main*/
main{
    /*margin-top: 4.5%;*/
    background-color: #f7f7f7;
    margin-top: 7.7rem;
    color: white;
}
.barraSup{
    margin-top: 0.5%;
    margin-bottom: 2%;
}
.pedido{
    width: 101.0rem;
    padding-right: 3.0rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.pedido hr{
    display: inline-block;
    margin-right: 1.0rem;
    height: 0.2rem;
    background-color: #dcdcdc;
}
.barraPedido{
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;
    display: flex;
}
.barraPedido li{
    display: inline-block;
    font-size: 2.0rem;
    margin: 0;
    padding: 0 1.5rem;
    /*line-height: 4.0rem;*/
}
.texto{
    color: #006491;
    font-size: 2.8rem;
}
.domi{
    padding-left: 0.3rem;
    padding-right: 0.9rem;
}
.domi a{
    font-size: 1.9rem;
    background-color: #e21737;
    color: white;
    margin-top: 0px;
    width: 17.5rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.48rem;
}
.o{
    padding: 0px 0.6rem 0px 0.6rem;
    color: #888;
    /*font-family: Ubuntu;*/
    font-style: italic;
    font-weight: bold;
    font-size: 1.8rem;
}
.tienda{
    font-size: 1.9px;
    background-color: #e21737;
    color: white;
    margin-top: 0px;
    width: 17.5rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.48rem;
}
.promoImg{
    width: 100.0rem;
    margin: 15px auto;
    position: relative;
    margin-bottom: 1.0rem;
    margin-left: 11.9rem;
    /*margin-right: 3.5rem;*/
    display: flex;
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
}
.img1{
    flex: 0 0 58.333%;
    max-width: 58.333%;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    display: inline-block;
    /*position: relative;*/
}
.promoinferior{
    margin: 0.1rem;
    padding-left: 1%;
    margin-top: -3.0rem;
    margin-bottom: -3.0rem;
}
.promoinferior a img{
    width: 96%;
    border: 0.1px solid #e5dede;
    border-radius: 0.4rem;
    max-width: 100%;
    height: auto;
}
/*fin main*/

/*inicio footer*/
footer{
    width: 100%;
    margin: 0px auto;
    padding-top: 2.5%;
    border-top: 1px solid #e5d3d3;
    background: #f6f3f3;
    justify-content: center;
}
.contenedorFooter{
    /*background-color: #ff4500;*/
    justify-content: center;
    display: flex;
    /*flex-wrap: wrap;*/
    margin-right: -1.5rem;
    /*margin-left: -1.5rem;*/
    font-family: Arial;
    font-weight: 400;
    max-width: 114.0rem;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    color: #212529;
    text-align: left;
}
.infoLegal{
    padding-right: 3%;
    border-right: 1px solid #d5d3d3;
    flex: 0 0 50%;
    max-width: 50%;
    /*position: relative;*/
    width: 100%;
    padding-left: 1.5rem;
}
.infoLegal h2{
    /*font-family: PizzaPress;*/
    font-size: 1.8rem;

}
.infoLegal p{
    /*font-family: Roboto;*/
    text-align: justify;
    color: #4a5157;
    font-size: 1.4rem;
    padding-left: 1%;
    margin-top: 0;
    margin-bottom: 1.6rem;
}
.sobreNosotros{
    padding-left: 3.0rem;
    border-right: 0.1rem solid #d5d3d3;
    flex: 0 0 25%;
    max-width: 25%;
    /*position: relative;*/
    width: 100%;
    padding-right: 1.5rem;
}
.sobreNosotros h2{
    /*font-family: PizzaPress;*/
    font-size: 1.8rem;
}
.sobreNosotros p{
    font-size: 1.6rem;
    margin-bottom: 0.9rem;
    margin-top: 0;
    color: #212529;
    text-align: left;
}
.sobreNosotros a{
    padding-left: 2%;
    color: #4a5157;
    text-decoration: none;
}
/*fin footer*/